<div class="card mt-3">
  <img class="card-img" [src]="product.image" [alt]="product.name">
  <div class="card-img-overlay d-flex justify-content-end">
    <a href="#" class="card-link text-danger like">
      <i class="fa" [ngClass]="product.favorite ? 'fa-heart' : 'fa-heart-o'"></i>
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{product.brand}}</h6>
    <p class="card-text">{{product.description}}</p>
    <div class="quantity d-flex">
      <button (click)="decrease()" class="mx-2 font-weight-bold border-0">-</button>
      <label>
        <input class="text-primary font-weight-bold" type="number" value="1"
               readonly [min]="configuration.min" [max]="configuration.max"
               minlength="1" maxlength="3" [formControl]="quantityControl">
      </label>
      <button (click)="increase()" class="mx-2 font-weight-bold border-0">+</button>
    </div>
    <div class="buy d-flex justify-content-between align-items-center">
      <div class="price text-primary">
        <h6 class="mt-4"><span >{{product.price}} </span> {{product.currency}}</h6>
      </div>
      <button (click)="addToCart()" class="btn btn-danger mt-3" [disabled]="added">
        <i class="fa fa-shopping-cart mx-1">
        </i>
        <span *ngIf="!added">{{'_AddToCart' | translate}}</span>
        <span *ngIf="added">{{'_Added' | translate}}</span>
      </button>
    </div>
  </div>
</div>
