<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="text-center mt-5">
        <div class="not-found">
          <img src="assets/images/not-found.svg" width="400px">
          <h1 class="mt-4"><span style="color: #d85251">404</span> Page Not Found</h1>
          <div class="b-extra">
            <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily
              unavailable
            </p>
          </div>
          <button class="btn btn-lg btn-primary py-1 px-4" routerLink="/home">
            Back To Home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
